<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzdl.edg.mapper.EvidenceExceptionMapper">

    <resultMap type="com.hzdl.edg.domain.EvidenceException" id="EvidenceExceptionResult">
        <result property="id"    column="id"    />
        <result property="evidenceId"    column="evidence_id"    />
        <result property="fileName"    column="file_name"    />
        <result property="evidenceType"    column="evidence_type"    />
        <result property="evidenceTypeName"    column="evidence_type_name"    />
        <result property="optType"    column="opt_type"    />
        <result property="description"    column="description"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectEvidenceExceptionVo">
        select id, evidence_id, file_name, evidence_type, evidence_type_name, opt_type, description, del_flag, create_by, create_time, update_by, update_time from edg_evidence_exception
    </sql>

    <select id="selectEvidenceExceptionList" parameterType="com.hzdl.edg.domain.EvidenceException" resultMap="EvidenceExceptionResult">
        <include refid="selectEvidenceExceptionVo"/>
        <where>
            <if test="evidenceId != null "> and evidence_id = #{evidenceId}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="optType != null  and optType != ''"> and opt_type = #{optType}</if>
            <if test="params.beginDate != null and params.endDate != null"> and create_time between #{params.beginDate} and #{params.endDate}</if>
            <if test="params.types != null">
                and evidence_type in
                <foreach collection="params.types" item="type" open="(" close=")" separator=",">
                    #{type}
                </foreach>
            </if>
            and del_flag = 0
        </where>
    </select>

    <select id="selectEvidenceExceptionById" parameterType="Long" resultMap="EvidenceExceptionResult">
        <include refid="selectEvidenceExceptionVo"/>
        where id = #{id}
    </select>

    <insert id="insertEvidenceException" parameterType="com.hzdl.edg.domain.EvidenceException" useGeneratedKeys="true" keyProperty="id">
        insert into edg_evidence_exception
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="evidenceId != null">evidence_id,</if>
            <if test="fileName != null">file_name,</if>
            <if test="evidenceType != null">evidence_type,</if>
            <if test="evidenceTypeName != null">evidence_type_name,</if>
            <if test="optType != null">opt_type,</if>
            <if test="description != null">`description`,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="evidenceId != null">#{evidenceId},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="evidenceType != null">#{evidenceType},</if>
            <if test="evidenceTypeName != null">#{evidenceTypeName},</if>
            <if test="optType != null">#{optType},</if>
            <if test="description != null">#{description},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateEvidenceException" parameterType="com.hzdl.edg.domain.EvidenceException">
        update edg_evidence_exception
        <trim prefix="SET" suffixOverrides=",">
            <if test="evidenceId != null">evidence_id = #{evidenceId},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="evidenceType != null">evidence_type = #{evidenceType},</if>
            <if test="evidenceTypeName != null">evidence_type_name = #{evidenceTypeName},</if>
            <if test="optType != null">opt_type = #{optType},</if>
            <if test="description != null">description = #{description},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEvidenceExceptionById" parameterType="Long">
        update edg_evidence_exception set del_flag = 1 where id = #{id}
    </delete>

    <delete id="deleteEvidenceExceptionByIds" parameterType="String">
        update edg_evidence_exception set del_flag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
